In [6]:
Variables and Data types
age =20 #int
price=19.95 #float variable
first_name="aaa" #string
is_online= False #Boolean
print (age)

20

In [8]:
print ("Check In")
print("Data=")
first_name = "John Smith"
age = 20
new_patient = True
print("Name:",first_name)
print("Age:",age,"Years Old")
print("New Patient?","Yes")

Check In
Data=
Name: John Smith
Age: 20 Years Old
New Patient? Yes

In [14]:
name=input("What is your name? ")
print("Hello "+ name) //string concatenation

What is your name?  Alia

Hello Alia

In [33]:
#Type Casting
birth_year= input("Enter birth year")
age = 2020 - int(birth_year)
print(age)

Enter birth year 1992

28

In [37]:
a= 10
b=20.5
sum= 10+ 20.5
print(sum)

30.5

In [58]:
#input
first= input("Enter first number")
second= input("Enter second number")
sum= int(first) + int(second)
print("Sum of numbers", str(sum))

Enter first number 1
Enter second number 2

Sum of numbers 3

In [72]:
#strings
course = "Python for beginners"
print(course.find('g')) # index of fisrt caharater
print(course.upper())
print(course.lower())
print(course.replace('for','4'))
print(course) #original state no changes immutable
print('Python' in course)

13
PYTHON FOR BEGINNERS
python for beginners
Python 4 beginners
Python for beginners
True

In [94]:
#Airthmetic operations
print(10+3)#Addition
print(10-3)#Subtraction
print(10*3)#Multiplication
print(10/3) #Division
print(10//3) #Floor Division
print(10%3) #Modulus
print(10**3) # Power
x=10
x+=3 #Augmenented Assignment Operator
print(x)

b-=3
print(b)

#Operator Precedence 
y=10 + 3 * 2
print (y)

#BODMAS

y=(10+3) *2
print(y)

13
7
30
3.3333333333333335
3
1
1000
13
11.5
16
26

In [104]:
#Comparison Operator
x=3>2
print(x)
x=3>=2
print(x)
x=3<=2
print(x)
x=3==2
print(x)
x=3!=2
print(x)

True
True
False
False
True

In [131]:
#Logical Operators
price= 25
print( price > 10 and price < 30)
price1=5 
print(price1 >10 and price1 < 30)

print(not price > 10)

True
False
True

In [157]:
#if else statements-decision making indenation is import for block of code
temprature=float(input("Enter temprature today"))
if temprature > 30 :
    print("It's a hot day")
    print("Drink plenty of water") 
elif temprature > 20 :
    print("It's a nice day") #[20,30]
elif temprature > 10 :  #[10,20]
    print("It's bit cold")
else : 
    print("It's a cold day")   
print("Done")

Enter temprature today 5

It's a cold day
Done

In [189]:
Weight=float(input("Enter your weight"))
Unit=str(input("(K)s or (L)s"))
if Unit.upper() == "K" :
     converted= Weight/0.45;
     print("Weight in lbs : " + str(converted) )
else :
     converted= Weight* 0.45;
     print("Weight in kgs : " + str(converted))

Enter your weight 45
(K)s or (L)s k

Weight in lbs : 100.0

In [187]:
#While loops in Python
i = 1
while i<=10 :
    print(i * '*')
    i=i+1

*
**
***
****
*****
******
*******
********
*********
**********

In [191]:
i = 1
while i<=5 :
    print(i)
    i=i+1

1
2
3
4
5

In [211]:
#complex data types
#list
names=["John","Bob","Mosh","Sam","Mary"]
print(names)
print(names[1]) #print first vlaue
print(names[-1]) #last element end
print(names[4])
names[0]="Jon"  #change value original list
print(names)
print(names[0:3]) # values from index 0 to 3. Doesnot modify original list

['John', 'Bob', 'Mosh', 'Sam', 'Mary']
Bob
Mary
Mary
['Jon', 'Bob', 'Mosh', 'Sam', 'Mary']
['Jon', 'Bob', 'Mosh']

In [223]:
#List Methods
#Strings are objects have methods
#List are objects have methods
numbers =[1,2,3,4,5]
numbers.append(6)
print(numbers)
numbers.insert(0,-1)
print(numbers)
#numbers.remove(6) to remove element
#numbers.clear() to remove all elements from list
print(1 in numbers)
print(10 in numbers)
print(len(numbers))

[1, 2, 3, 4, 5, 6]
[-1, 1, 2, 3, 4, 5, 6]
True
False
7

In [231]:
#For loop
numbers=[1,2,3,4,5]
for item in numbers :
    print(item)

1
2
3
4
5

In [237]:
i=0
while i < len(numbers) :
    print(numbers[i])
    i=i+1

1
2
3
4
5

In [247]:
#range function 
#range(5) value from 0 to 5  excluding 5x
numbers=range(5,10)
for number in numbers:
    print (numbers)

1
2
3
4
5